DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB=

MQ_USER=
MQ_PASS=
MQ_HOST=
MQ_PORT=

GATEWAY_NAME=
GATEWAY_HOST=
GATEWAY_PORT=

APPROVER_NAME=
APPROVER_HOST=
APPROVER_PORT=

NOTIFICATION_NAME=
NOTIFICATION_HOST=
NOTIFICATION_PORT=

SORTING_NAME=
SORTING_HOST=
SORTING_PORT=
